<div class="container text-light">
    <div class="row">
        <div class="col-md-6 mt-3">
            <h1>Form Update Contact</h1>

            <% if (typeof errors !== "undefined") { %>
                <div class="alert alert-danger mt-5" role="alert">
                    <% errors.forEach(error => { %>
                        <div><i class="bi bi-exclamation-triangle-fill"></i> <%= error.msg %></div>                    
                    <% }) %>
                </div>
            <% } %>

            <form class="mt-4" method="post" action="/contact?_method=PUT" class="d-inline">
                <input type="hidden" name="_id" value="<%= contact._id %>">
                <input type="hidden" name="oldName" value="<%= (contact.oldName) ? contact.oldName : contact.name %>">
                <div class="add-form-div">
                    <label for="name" class="add-form-tag">Name</label>
                    <input type="text" placeholder="Insert Your Name" class="add-form-input" id="name" name="name" value="<%= contact.name %>" required>
                </div>
                <div class="add-form-div">
                    <label for="phone" class="add-form-tag">Phone</label>
                    <input type="number" placeholder="Insert Your Phone Number" class="add-form-input" id="phone" name="phone" value="<%= contact.phone %>" required>
                </div>
                <div class="add-form-div">
                    <label for="dapartement" class="add-form-tag">Dapartement</label>
                    <input type="text" placeholder="Insert Your Work" class="add-form-input" id="dapartement" name="dapartement" value="<%= contact.dapartement %>">
                </div>
                <div class="add-form-div">
                    <label for="email" class="add-form-tag">Email</label>
                    <input type="email" placeholder="Insert Your Email" class="add-form-input" id="email" name="email" value="<%= contact.email %>">
                </div>
                <button type="submit" class="btn btn-outline-info border-2 mt-4 me-3 d-inline"><i class="bi bi-plus-circle-fill"></i> Submit</button>
            </form>
            <form action="/contact?_method=DELETE" method="post" class="d-inline">
                <input type="hidden" name="_id" value="<%= contact._id %>">
                <button type="submit" class="btn btn-outline-danger border-2 mt-4 me-3" onclick="return confirm('Yakin Mau Hapus Contact <%= contact.name %> ?')"><i class="bi bi-trash"></i></button>
            </form>
            <a href="/contact" class="btn btn-outline-warning border-2 fw-semibold mt-4"><i class="bi bi-arrow-left-circle"></i> Back</a>
        </div>
    </div>
</div>